@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <br>
    <br>
    <h1 class="display-4">Your Online Note Taker (:</h1>
    <p class="text-primary">Start by creating an Account, or if you have one just hoop on to it</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="AddNote">Add a NEW Note</a>
</div>
